@import url('https://fonts.cdnfonts.com/css/space-grotesk');
@import url('https://fonts.cdnfonts.com/css/manrope-3');
@import url('reset.css');

:root {
    --manrope: 'Manrope', sans-serif;
    --space: 'Space Grotesk', sans-serif;
    --background-dark: #120034;
    --background-light: #4A108A;   
}

body {
    background-image: linear-gradient(50deg, var(--background-dark), var(--background-light));
    background-size: cover;
    color: white;
    height: 100vh;

    .container {
        margin: 0 auto;
        width: 80vw;
    }
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    &.container {
        margin-top: 1rem;
    }
}

nav {   
    display: flex;
    align-items: center;

    & menu {
        display: inline-flex;

        & li {
            font-family: var(--manrope);
            list-style-type: none;
            padding: 1rem;
            font-size: 1.25rem;
        }
    }
}

h1 {
    font-family: var(--manrope);
}

h2 {
    font-family: var(--space);
    font-weight: 300;
}

.logo {
    font-size: 3rem;
    display: flex;
    font-family: var(--space);

    &:hover {
        .word-logo {
            max-width: 1em;
            opacity: 1;
        }
    }

    & .bracket {
        font-weight: 600;
    }

    & .word-logo {
        max-width: 0;
        opacity: 0;
        animation: 2s ease 2s backwards logo;
        font-weight: 200;
        transition: max-width 1s ease-in-out, opacity 1s ease-in-out;
    }
}

@keyframes logo {
    from {
        opacity: 1;
        max-width: 1em;
    }

    to {
        max-width: 0;
        opacity: 0;
    }
}